/* Dark mode colors. */
:root {
  --sl-color-accent-low: #460b03;
  --sl-color-accent: #c02500;
  --sl-color-accent-high: #fdb3a3;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #eceeed;
  --sl-color-gray-2: #c0c3c1;
  --sl-color-gray-3: #878d89;
  --sl-color-gray-4: #545a56;
  --sl-color-gray-5: #343a36;
  --sl-color-gray-6: #232825;
  --sl-color-black: #161917;
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent-low: #ffc8bc;
  --sl-color-accent: #c32600;
  --sl-color-accent-high: #600d00;
  --sl-color-white: #161917;
  --sl-color-gray-1: #232825;
  --sl-color-gray-2: #343a36;
  --sl-color-gray-3: #545a56;
  --sl-color-gray-4: #878d89;
  --sl-color-gray-5: #c0c3c1;
  --sl-color-gray-6: #eceeed;
  --sl-color-gray-7: #f5f7f6;
  --sl-color-black: #ffffff;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
